.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.items {
    margin: 20px;
    width: 200px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}